<a href="https://colab.research.google.com/github/nakampany/GCI/blob/main/week7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework6
時系列データを含むデータベースファイル (data.sqlite3) に含まれるデータについて、goods_genre_id ごとに price の平均値を求めてください。時系列データには goods_genre_id の情報は含まれていないので、複数のテーブルを組み合わせて処理する必要があります。  
データの詳細は以下を参照してください。

### データ一覧
今回与えられるデータは data.sqlite3 という sqlite3 形式のデータです。
以下の 2 つのテーブルが含まれています。
* data ... 時系列データ
* goods ... 商品に関する補足情報

### カラム情報一覧
データに含まれるカラムの情報は以下です。
* index ... (店舗, 商品) の各組み合わせに対して割り振られるID
* store_id ... 店舗ID
* goods_id ... 商品ID
* goods_genre_id ... 商品カテゴリID
* units_sold_day ... 商品の一日の売り上げ個数
* units_sold_month ... 商品のひと月の売り上げ個数
* price ... 商品の現在の値段
* yy-mm-dd ... 日付 (yy/mm/dd形式)
* num_month ... 便宜上各月にわりふられた値 (平成25年1月=1, 平成25年2月=2,...,平成27年9月=33)
* goods_name ... 商品名
* store_name ... 店舗名
* goods_genre_name ... 商品カテゴリ名

### 注意事項
- データ処理はSQLiteでの操作を推奨します。補足資料「SQLite_manual.pdf」「SQLite_manual.ipynb」を参照ください。
- SQLiteのインストール/ダウンロードが上手くいかない場合、python上での操作も可能です。補足資料「csv_export_python.pdf」「csv_export_python.ipynb」を参照ください。
- 一部の処理に時間がかかる場合があります。

### 提出/採点
回答は**Omnicampus**上で提出してください。提出するデータの形式は以下のような**csvファイル**となります。
 
goods_genre_id|avg_price
---|---
1|25000
3|26500
4|25000
…|…
196|20000
200|27000


提出ファイルがこの形式に準じていなかった場合にはスコアが1000となるので、その際はファイル形式を確認しましょう。

In [1]:
import sqlite3
import csv

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
dbpath = '/content/drive/MyDrive/【CCI2022宿題】/data.sqlite3'

In [7]:
conn = sqlite3.connect(dbpath)

In [8]:
cur = conn.cursor()

In [10]:
cur.execute('select name from sqlite_master where type = "table"')
iter_cur = cur.fetchall()
for row in iter_cur:
  print(row)

('data',)
('goods',)

In [11]:
cur.execute('select sql from sqlite_master where type = "table"')
for row in cur.fetchall():
  print(row)

('CREATE TABLE data(\n  "yy_mm_dd" TEXT,\n  "num_month" TEXT,\n  "store_id" TEXT,\n  "goods_id" TEXT,\n  "price" TEXT,\n  "units_sold_day" TEXT\n)',)
('CREATE TABLE goods(\n  "goods_name" TEXT,\n  "goods_id" TEXT,\n  "goods_genre_id" TEXT\n)',)

goods_genre_id ごとに price の平均値を求めてください。

In [31]:
cur.execute('SELECT G.goods_genre_id, AVG(D.price) AS avg_price FROM goods AS G INNER JOIN data AS D ON G.goods_id = D.goods_id GROUP BY G.goods_genre_id ORDER BY G.goods_genre_id')
for row in cur.fetchall():
  print(row)




# SELECT G.goods_genre_id, AVG(D.price) AS avg_price 
# FROM goods AS G INNER JOIN data AS D ON G.goods_id = D.goods_id
# GROUP BY G.goods_genre_id,

('12', 1381663.0)
('15', 1197012.5)
('16', 1315036.0)
('19', 29577.0)
('20', 154165.75)
('21', 248176.0)
('22', 52100.066666666666)
('23', 167440.53846153847)
('24', 164675.7037037037)
('26', 71894.57142857143)
('29', 63498.39473684211)
('3', 168482.4)
('30', 129826.33333333333)
('31', 42573.60625)
('32', 41988.6)
('34', 120571.0)
('36', 222425.0)
('38', 42881.25)
('39', 108544.72222222222)
('4', 47476.5)
('41', 27312.9203187251)
('42', 96667.75)
('44', 28968.470588235294)
('46', 20584.5)
('5', 129025.0)
('50', 34330.857142857145)
('56', 26939.964285714286)
('58', 26590.416666666668)
('59', 92398.5)
('6', 39211.333333333336)
('60', 45314.42857142857)
('61', 171138.33333333334)
('62', 79763.0)
('63', 67526.75)
('64', 44575.181818181816)
('65', 99287.0625)
('66', 30284.083333333332)
('67', 13455.6)
('68', 47454.0)
('7', 158876.2)
('70', 81622.5)
('71', 29752.75)
('73', 142723.16666666666)
('74', 95758.0)
('76', 162571.72222222222)
('77', 149070.0)
('78', 24784.666666666668)
('80', 44943.0)
('82', 6410.0)
('83', 1911.0)
('84', 8516.6)

In [ ]:
cur.execute(‘select * from <テーブル名>’)
print(cur.fetchone()) # 1レコード目
print(cur.fetchone()) # 2レコード目

In [ ]:
cur.execute(‘select <カラム名> from <テーブル名>’)
with open(‘out.csv’, ‘w’, newline = ‘’) as csv_file:
csv_writer = csv.writer(csv_file)
csv_writer.writerow([i[0] for i in cur.description])
csv_writer.writerows(cur)

In [ ]:
cur.execute(‘select * from <テーブル名>’)
with open(‘out.csv’, ‘w’, newline = ‘’) as csv_file:
csv_writer = csv.writer(csv_file)
csv_writer.writerow([i[0] for i in cur.description])
csv_writer.writerows(cur)

In [32]:
cur.execute('SELECT G.goods_genre_id, AVG(D.price) AS avg_price FROM goods AS G INNER JOIN data AS D ON G.goods_id = D.goods_id GROUP BY G.goods_genre_id ORDER BY G.goods_genre_id')
with open('out.csv', 'w', newline = '') as csv_file:
  csv_writer = csv.writer(csv_file)
  csv_writer.writerow([i[0] for i in cur.description])
  csv_writer.writerows(cur)

In [33]:
conn.commit()

In [34]:
cur.close()

In [35]:
conn. close()