<a href="https://colab.research.google.com/github/nakampany/GCI2022/blob/main/week3_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## 問題文
以下のサイトにあるデータ（ワインの品質）が分析対象になります。

http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

このデータを読み込み、カラムの`total sulfur dioxide`について分位点でn個（nはデータ数を越えず、同一の値が分割位置に当たらない自然数）に分割し、それぞれのグループについてpHの平均値を算出してください。さらに、このn個のグループのそれぞれのpHの平均値の中で、1番小さい平均値と1番大きな平均値を足して、その合計値を返り値とするような関数を作成してください。

提出するときは、以下の点に注意してください。  
>- 以下の関数`homework`の`!!WRITE ME!!`に処理を書いてください。(**「`!!WRITE ME!!`」は消して、記入してください。**)
>- 実際の提出は記述された`homework`関数全てになり、**提出はOmnicampus内の宿題の欄から今週の課題を選択後、提出内容に関数を貼り付けてから[Pythonコード提出]を押してください。**
>- 返り値が数値型になるようにしてください。
>- 関数は1つにまとめてください。

In [ ]:
# common
import numpy as np
import pandas as pd
from pandas import DataFrame
# URL
url_winequality_data = "http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"

In [ ]:
ｄｆ_wine = pd.read_csv(url_winequality_data, sep=';')
ｄｆ_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
df_f = ｄｆ_wine.sort_values('total sulfur dioxide')

In [ ]:
df_f

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
915,8.6,0.315,0.40,2.2,0.079,3.0,6.0,0.99512,3.27,0.67,11.9,6
979,12.2,0.450,0.49,1.4,0.075,3.0,6.0,0.99690,3.13,0.63,10.4,5
984,12.2,0.450,0.49,1.4,0.075,3.0,6.0,0.99690,3.13,0.63,10.4,5
813,6.9,0.390,0.24,2.1,0.102,4.0,7.0,0.99462,3.44,0.58,11.4,4
986,9.8,0.340,0.39,1.4,0.066,3.0,7.0,0.99470,3.19,0.55,11.4,7
...,...,...,...,...,...,...,...,...,...,...,...,...
651,9.8,0.880,0.25,2.5,0.104,35.0,155.0,1.00100,3.41,0.67,11.2,5
1244,5.9,0.290,0.25,13.4,0.067,72.0,160.0,0.99721,3.33,0.54,10.3,6
354,6.1,0.210,0.40,1.4,0.066,40.5,165.0,0.99120,3.25,0.59,11.9,6
1079,7.9,0.300,0.68,8.3,0.050,37.5,278.0,0.99316,3.01,0.51,12.3,7
1081,7.9,0.300,0.68,8.3,0.050,37.5,289.0,0.99316,3.01,0.51,12.3,7

In [ ]:
X_train = df_f[df_f['total sulfur dioxide'] < 5]
X_test = df_f[df_f['total sulfur dioxide'] >= 5]

In [ ]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
535,9.1,0.220,0.24,2.10,0.078,1.0,28.0,0.99900,3.41,0.87,10.3,6
773,7.9,0.400,0.29,1.80,0.157,1.0,44.0,0.99730,3.30,0.92,9.5,6
530,9.1,0.220,0.24,2.10,0.078,1.0,28.0,0.99900,3.41,0.87,10.3,6
774,7.9,0.400,0.30,1.80,0.157,2.0,45.0,0.99727,3.31,0.91,9.5,6
1277,7.0,0.690,0.00,1.90,0.114,3.0,10.0,0.99636,3.35,0.60,9.7,6
...,...,...,...,...,...,...,...,...,...,...,...,...
50,8.8,0.660,0.26,1.70,0.074,4.0,23.0,0.99710,3.15,0.74,9.2,5
56,10.2,0.420,0.57,3.40,0.070,4.0,10.0,0.99710,3.04,0.63,9.6,5
731,8.9,0.875,0.13,3.45,0.088,4.0,14.0,0.99940,3.44,0.52,11.5,5
806,8.4,0.250,0.39,2.00,0.041,4.0,10.0,0.99386,3.27,0.71,12.5,7
1356,6.1,0.340,0.25,1.80,0.084,4.0,28.0,0.99464,3.36,0.44,10.1,5

In [ ]:
X_train['pH'].mean(axis='index')

3.3103801396431343

In [ ]:
X_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
463,8.1,0.660,0.70,2.2,0.098,25.0,129.0,0.99720,3.08,0.53,9.0,5
1383,8.0,0.600,0.22,2.1,0.080,25.0,105.0,0.99613,3.30,0.49,9.9,5
321,9.3,0.610,0.26,3.4,0.090,25.0,87.0,0.99975,3.24,0.62,9.7,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
639,8.9,0.290,0.35,1.9,0.067,25.0,57.0,0.99700,3.18,1.36,10.3,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1131,5.9,0.190,0.21,1.7,0.045,57.0,135.0,0.99341,3.32,0.44,9.5,5
1558,6.9,0.630,0.33,6.7,0.235,66.0,115.0,0.99787,3.22,0.56,9.5,5
396,6.6,0.735,0.02,7.9,0.122,68.0,124.0,0.99940,3.47,0.53,9.9,5
400,6.6,0.735,0.02,7.9,0.122,68.0,124.0,0.99940,3.47,0.53,9.9,5
1244,5.9,0.290,0.25,13.4,0.067,72.0,160.0,0.99721,3.33,0.54,10.3,6

In [ ]:
X_test['pH'].mean(axis='index')

3.314161290322581

In [ ]:
df_f['free sulfur dioxide'].count()

1599

In [ ]:
df_f['total sulfur dioxide'].min()

6.0

In [ ]:
ｄｆ_wine = pd.read_csv(url_winequality_data, sep=';')
df = pd.qcut(ｄｆ_wine['total sulfur dioxide'], 5)
df

0       (30.0, 45.8]
1       (45.8, 69.0]
2       (45.8, 69.0]
3       (45.8, 69.0]
4       (30.0, 45.8]
            ...
1594    (30.0, 45.8]
1595    (45.8, 69.0]
1596    (30.0, 45.8]
1597    (30.0, 45.8]
1598    (30.0, 45.8]
Name: total sulfur dioxide, Length: 1599, dtype: category
Categories (5, interval[float64, right]): [(5.999, 19.0] < (19.0, 30.0] < (30.0, 45.8] <
                                           (45.8, 69.0] < (69.0, 289.0]]

In [ ]:
print(type(df))

<class 'pandas.core.series.Series'>

In [ ]:
ｄｆ_wine['pH'].groupby(df).mean()

total sulfur dioxide
(5.999, 19.0]    3.298636
(19.0, 30.0]     3.301961
(30.0, 45.8]     3.338270
(45.8, 69.0]     3.323645
(69.0, 289.0]    3.293260
Name: pH, dtype: float64

In [ ]:
# working place. everything 
# このデータを読み込み、カラムのtotal sulfur dioxideについて分位点でn個（nはデータ数を越えず、同一の値が分割位置に当たらない自然数）に分割し、
# それぞれのグループについてpHの平均値を算出してください。
# さらに、このn個のグループのそれぞれのpHの平均値の中で、
# 1番小さい平均値と1番大きな平均値を足して、その合計値を返り値とするような関数を作成してください。

# ビン分割とは、配列の各要素を最小と最大の境界値で区切り、カテゴリ分けする操作のことです。
# ビンに含まれる個数（要素数）を等しくビニング処理: qcut()
import numpy as np
import pandas as pd
from pandas import DataFrame

def homework(url_winequality_data, n):
  df_wine = pd.read_csv(url_winequality_data, sep=';')

  bins = pd.qcut(df_wine['total sulfur dioxide'], n)
  Most_mean_pH = df_wine['pH'].groupby(bins).mean()

  M_max = Most_mean_pH.max()

  M_min = Most_mean_pH.min()

  my_result = M_max + M_min

  return my_result

In [ ]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"
n = int(input())
homework(url, n)

3
3.3171195652173915 3.01

6.327119565217391

**謝辞**：以下のデータセットの利用に関して  
http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

引用元：Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [[http://archive.ics.uci.edu/ml](http://archive.ics.uci.edu/ml)]. Irvine, CA: University of California, School of Information and Computer Science.

P. Cortez, A. Cerdeira, F. Almeida, T. Matos and J. Reis.
Modeling wine preferences by data mining from physicochemical properties. In Decision Support Systems, Elsevier, 47(4):547-553, 2009.