<a href="https://colab.research.google.com/github/nakampany/GCI/blob/main/week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework3

ä¸‹è¨˜ã®ã€Œ#commonã€ã§å§‹ã¾ã‚‹ã‚»ãƒ«ã®ä¸­ã§æŒ‡å®šã•ã‚ŒãŸãƒªãƒ³ã‚¯å…ˆã«ã‚ã‚‹è³¼è²·ãƒ‡ãƒ¼ã‚¿ã‚’ãƒ™ãƒ¼ã‚¹ã«ä»¥ä¸‹ã®å‡¦ç†ã‚’å®Ÿè¡Œã—ã€å•ã„ã«ç­”ãˆã¦èª²é¡Œã‚’æå‡ºã—ã¦ãã ã•ã„ã€‚ï¼ˆãƒ‡ãƒ¼ã‚¿ã®å‰å‡¦ç†ã¯ã€ä»¥ä¸‹ã®è¨˜è¼‰ã®é€šã‚Šã«è¡Œã£ã¦ãã ã•ã„ã€‚ï¼‰
    
å‡¦ç†å†…å®¹

1. `#common`ã®ã‚»ãƒ«ã§äº‹å‰ã«å‰å‡¦ç†ã•ã‚ŒãŸãƒ‡ãƒ¼ã‚¿`target_online_retail_data_tb`ã‚’ç”¨ã„ã¾ã™ã€‚
2. è³¼è²·è€…ï¼ˆ`CustomerID`ï¼‰ã®å„åˆè¨ˆè³¼è²·é‡‘é¡ï¼ˆ`TotalPrice`ã®åˆè¨ˆï¼‰ã‚’ç®—å‡ºã—ã€ã•ã‚‰ã«åˆè¨ˆè³¼è²·é‡‘é¡ã‚’ãƒ™ãƒ¼ã‚¹ã«é™é †ã«ä¸¦ã³æ›¿ãˆã‚’ã—ã¾ã™ã€‚  
3. åˆè¨ˆè³¼è²·é‡‘é¡ã®é™é †ã«ä¸¦ã‚“ã è³¼è²·è€…ã‚’$n$ç­‰åˆ†ï¼ˆ$n$ã¯ãƒ‡ãƒ¼ã‚¿æ•°ã‚’è¶Šãˆãšã€åˆ†ä½æ•°ã«åŒä¸€ã®å€¤ãŒå­˜åœ¨ã—ãªã„è‡ªç„¶æ•°ã€‚è³¼è²·è€…æ•°ãŒ$n$ã§å‰²ã‚Šåˆ‡ã‚Œã‚‹ã¨ã¯é™ã‚‰ãšã€ã“ã®å ´åˆã®å‡¦ç†ã¯`Pandas.qcut`ã®å‡¦ç†ã«æº–ã˜ã¾ã™ã€‚ï¼‰ã«ã‚°ãƒ«ãƒ¼ãƒ—åˆ†ã‘ã—ã¾ã™ã€‚  ãã®éš›ã€åˆè¨ˆè³¼è²·é‡‘é¡ãŒå¤§ãã„ã‚°ãƒ«ãƒ¼ãƒ—ã‹ã‚‰é †ã«ã€Œã‚°ãƒ«ãƒ¼ãƒ—1ã€ã€Œã‚°ãƒ«ãƒ¼ãƒ—2ã€$\cdots$ã€Œã‚°ãƒ«ãƒ¼ãƒ—nã€ã¨ã—ã¾ã™ã€‚
4. ãã‚Œãã‚Œã®ã‚°ãƒ«ãƒ¼ãƒ—ã®é‡‘é¡åˆè¨ˆå€¤ã‚’ç®—å‡ºã—ã¦ãã ã•ã„ï¼ˆã“ã®ã‚¢ãƒ—ãƒ­ãƒ¼ãƒã‚’ãƒ‡ã‚·ãƒ«åˆ†æã¨ã„ã„ã¾ã™ï¼‰ã€‚
5. ãã‚Œãã‚Œã®ã‚°ãƒ«ãƒ¼ãƒ—ãŒå£²ä¸Šã®ä½•å‰²ã‚’å ã‚ã‚‹ã‹ã‚’æ±‚ã‚ã¦ãã ã•ã„ã€‚ãã®éš›ã€ã€Œã‚°ãƒ«ãƒ¼ãƒ—1ã€ã€œã€Œã‚°ãƒ«ãƒ¼ãƒ—nã€ã®é †ã«ä¸¦ã¹ã€`Pandas.Series`å½¢å¼ã§å›ç­”ã—ã¦ãã ã•ã„ã€‚


(ãªãŠã€ãƒãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚°æˆ¦ç•¥ã§ã¯ã€ã“ã®ã‚ˆã†ã«é¡§å®¢ã‚’åˆ†ã‘ã‚‹ã“ã¨ã‚’ã‚»ã‚°ãƒ¡ãƒ³ãƒ†ãƒ¼ã‚·ãƒ§ãƒ³ã¨ã„ã„ã€ä¸Šä½2å‰²ã«çµã£ã¦ã‚¢ãƒ—ãƒ­ãƒ¼ãƒã‚’ä»•æ›ã‘ã‚‹ã“ã¨ã‚’ã‚¿ãƒ¼ã‚²ãƒ†ã‚£ãƒ³ã‚°ã¨ã„ã„ã¾ã™ã€‚ãã‚Œãã‚Œã®æˆ¦ç•¥ã«ã‚ˆã‚Šã¾ã™ãŒã€å„ªè‰¯é¡§å®¢ã«çš„ã‚’çµã£ãŸæ–¹ãŒæŠ•è³‡å¯¾åŠ¹æœãŒé«˜ã„ã“ã¨ãŒå¤šã„ãŸã‚ã€ã“ã®ã‚ˆã†ãªã‚¢ãƒ—ãƒ­ãƒ¼ãƒã‚’å–ã‚‹ã“ã¨ãŒã‚ã‚Šã¾ã™ã€‚ã“ã‚Œã«é–¢é€£ã—ã¦ã€ä¸Šä½2å‰²ã®é¡§å®¢ãŒå£²ä¸Šå…¨ä½“ã®8å‰²ã‚’å ã‚ã‚‹ã“ã¨ã‚’ã€Œãƒ‘ãƒ¬ãƒ¼ãƒˆã®æ³•å‰‡ã€ã¨è¨€ã„ã¾ã™ã€‚)

æå‡ºã™ã‚‹ã¨ãã¯ã€ä»¥ä¸‹ã®ç‚¹ã«æ³¨æ„ã—ã¦ãã ã•ã„ã€‚  
>- ä»¥ä¸‹ã®é–¢æ•°`homework`ã®`!!WRITE ME!!`ã«å‡¦ç†ã‚’æ›¸ã„ã¦ãã ã•ã„ã€‚(**ã€Œ`!!WRITE ME!!`ã€ã¯æ¶ˆã—ã¦ã€è¨˜å…¥ã—ã¦ãã ã•ã„ã€‚**)
>- å®Ÿéš›ã®æå‡ºã¯è¨˜è¿°ã•ã‚ŒãŸ`homework`é–¢æ•°å…¨ã¦ã«ãªã‚Šã€**æå‡ºã¯Omnicampuså†…ã®å®¿é¡Œã®æ¬„ã‹ã‚‰ä»Šé€±ã®èª²é¡Œã‚’é¸æŠå¾Œã€æå‡ºå†…å®¹ã«é–¢æ•°ã‚’è²¼ã‚Šä»˜ã‘ã¦ã‹ã‚‰[Pythonã‚³ãƒ¼ãƒ‰æå‡º]ã‚’æŠ¼ã—ã¦ãã ã•ã„ã€‚**
>- å‰å‡¦ç†ã¯ä»¥ä¸‹ã®ã‚³ãƒ¼ãƒ‰ã‚’ä½¿ã£ã¦ãã ã•ã„ã€‚  
>- è¿”ã‚Šå€¤ãŒ`Pandas.Series`å½¢å¼ã«ãªã‚‹ã‚ˆã†ã«ã—ã¦ãã ã•ã„ã€‚  
>- è§£ç­”ã¯ã€`my_result=pd.Series([0.6,0.2,0.1,0.025,0.025,0.022,0.021,0.02,0.01,0]) `ã®ã‚ˆã†ãªå½¢ã«ãªã‚Šã¾ã™ã€‚(å£²ä¸Šå‰²åˆã¯ã‚°ãƒ«ãƒ¼ãƒ—é †ã«ã—ã¦ã€åˆè¨ˆã¯1ã«ãªã‚‹ã‚ˆã†ã«ã—ã¾ã™ã€‚)

In [48]:
# common
import pandas as pd
import numpy as np

# init part(ãƒ‡ãƒ¼ã‚¿ã®èª­ã¿è¾¼ã¿ã¨å‰å‡¦ç†)
file_url = "http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx"
online_retail_data = pd.ExcelFile(file_url)
online_retail_data_table = online_retail_data.parse('Online Retail')

# æ¡ç‚¹ã®éƒ½åˆä¸Šã€æ–‡å­—åˆ—å‹ã«å¤‰æ›
online_retail_data_table['cancel_flg'] = online_retail_data_table.InvoiceNo.map(lambda x:str(x)[0])

# InvoiceNoã®å…ˆé ­ãŒ5ã§ã‚ã‚‹ã‚‚ã®ã¨IDãŒNullã§ãªã„ã‚‚ã®ãŒå¯¾è±¡
target_online_retail_data_tb = online_retail_data_table[(online_retail_data_table.cancel_flg == '5') 
                                                        & (online_retail_data_table.CustomerID.notnull())]

target_online_retail_data_tb = target_online_retail_data_tb.assign(TotalPrice=target_online_retail_data_tb.Quantity * target_online_retail_data_tb.UnitPrice)

In [ ]:
# commonã®ã‚»ãƒ«ã§äº‹å‰ã«å‰å‡¦ç†ã•ã‚ŒãŸãƒ‡ãƒ¼ã‚¿target_online_retail_data_tbã‚’ç”¨ã„ã¾ã™ã€‚
# è³¼è²·è€…ï¼ˆCustomerIDï¼‰ã®å„åˆè¨ˆè³¼è²·é‡‘é¡ï¼ˆTotalPriceã®åˆè¨ˆï¼‰ã‚’ç®—å‡ºã—ã€ã•ã‚‰ã«åˆè¨ˆè³¼è²·é‡‘é¡ã‚’ãƒ™ãƒ¼ã‚¹ã«é™é †ã«ä¸¦ã³æ›¿ãˆã‚’ã—ã¾ã™ã€‚
# åˆè¨ˆè³¼è²·é‡‘é¡ã®é™é †ã«ä¸¦ã‚“ã è³¼è²·è€…ã‚’ ğ‘› ç­‰åˆ†ï¼ˆ ğ‘› ã¯ãƒ‡ãƒ¼ã‚¿æ•°ã‚’è¶Šãˆãšã€åˆ†ä½æ•°ã«åŒä¸€ã®å€¤ãŒå­˜åœ¨ã—ãªã„è‡ªç„¶æ•°ã€‚è³¼è²·è€…æ•°ãŒ ğ‘› ã§å‰²ã‚Šåˆ‡ã‚Œã‚‹ã¨ã¯é™ã‚‰ãšã€
# ã“ã®å ´åˆã®å‡¦ç†ã¯Pandas.qcutã®å‡¦ç†ã«æº–ã˜ã¾ã™ã€‚ï¼‰ã«ã‚°ãƒ«ãƒ¼ãƒ—åˆ†ã‘ã—ã¾ã™ã€‚ ãã®éš›ã€åˆè¨ˆè³¼è²·é‡‘é¡ãŒå¤§ãã„ã‚°ãƒ«ãƒ¼ãƒ—ã‹ã‚‰é †ã«ã€Œã‚°ãƒ«ãƒ¼ãƒ—1ã€ã€Œã‚°ãƒ«ãƒ¼ãƒ—2ã€ â‹¯ ã€Œã‚°ãƒ«ãƒ¼ãƒ—nã€ã¨ã—ã¾ã™ã€‚
# ãã‚Œãã‚Œã®ã‚°ãƒ«ãƒ¼ãƒ—ã®é‡‘é¡åˆè¨ˆå€¤ã‚’ç®—å‡ºã—ã¦ãã ã•ã„ï¼ˆã“ã®ã‚¢ãƒ—ãƒ­ãƒ¼ãƒã‚’ãƒ‡ã‚·ãƒ«åˆ†æã¨ã„ã„ã¾ã™ï¼‰ã€‚
# ãã‚Œãã‚Œã®ã‚°ãƒ«ãƒ¼ãƒ—ãŒå£²ä¸Šã®ä½•å‰²ã‚’å ã‚ã‚‹ã‹ã‚’æ±‚ã‚ã¦ãã ã•ã„ã€‚ãã®éš›ã€ã€Œã‚°ãƒ«ãƒ¼ãƒ—1ã€ã€œã€Œã‚°ãƒ«ãƒ¼ãƒ—nã€ã®é †ã«ä¸¦ã¹ã€Pandas.Serieså½¢å¼ã§å›ç­”ã—ã¦ãã ã•ã„ã€‚

In [49]:
target_online_retail_data_tb

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancel_flg,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,5,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,5,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,5,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,5,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,5,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,5,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,5,14.85

In [50]:
# è³¼è²·è€…ï¼ˆCustomerIDï¼‰ã®å„åˆè¨ˆè³¼è²·é‡‘é¡ï¼ˆTotalPriceã®åˆè¨ˆï¼‰ã‚’ç®—å‡ºã—ã€ã•ã‚‰ã«åˆè¨ˆè³¼è²·é‡‘é¡ã‚’ãƒ™ãƒ¼ã‚¹ã«é™é †ã«ä¸¦ã³æ›¿ãˆã‚’ã—ã¾ã™ã€‚

target_online_retail_data_tb['TotalPrice'].groupby(target_online_retail_data_tb['CustomerID']).sum()

CustomerID
12346.0    77183.60
12347.0     4310.00
12348.0     1797.24
12349.0     1757.55
12350.0      334.40
             ...
18280.0      180.60
18281.0       80.82
18282.0      178.05
18283.0     2094.88
18287.0     1837.28
Name: TotalPrice, Length: 4339, dtype: float64

In [51]:
a = target_online_retail_data_tb['TotalPrice'].groupby(target_online_retail_data_tb['CustomerID']).sum().sort_values(ascending=False)
print(a)

CustomerID
14646.0    280206.02
18102.0    259657.30
17450.0    194550.79
16446.0    168472.50
14911.0    143825.06
             ...
17956.0        12.75
16454.0         6.90
14792.0         6.20
16738.0         3.75
13256.0         0.00
Name: TotalPrice, Length: 4339, dtype: float64

In [52]:
type(a)

pandas.core.series.Series

In [53]:
# åˆè¨ˆè³¼è²·é‡‘é¡ã®é™é †ã«ä¸¦ã‚“ã è³¼è²·è€…ã‚’ ğ‘› ç­‰åˆ†ï¼ˆ ğ‘› ã¯ãƒ‡ãƒ¼ã‚¿æ•°ã‚’è¶Šãˆãšã€åˆ†ä½æ•°ã«åŒä¸€ã®å€¤ãŒå­˜åœ¨ã—ãªã„è‡ªç„¶æ•°ã€‚è³¼è²·è€…æ•°ãŒ ğ‘› ã§å‰²ã‚Šåˆ‡ã‚Œã‚‹ã¨ã¯é™ã‚‰ãšã€
# ã“ã®å ´åˆã®å‡¦ç†ã¯Pandas.qcutã®å‡¦ç†ã«æº–ã˜ã¾ã™ã€‚ï¼‰ã«ã‚°ãƒ«ãƒ¼ãƒ—åˆ†ã‘ã—ã¾ã™ã€‚ ãã®éš›ã€åˆè¨ˆè³¼è²·é‡‘é¡ãŒå¤§ãã„ã‚°ãƒ«ãƒ¼ãƒ—ã‹ã‚‰é †ã«ã€Œã‚°ãƒ«ãƒ¼ãƒ—1ã€ã€Œã‚°ãƒ«ãƒ¼ãƒ—2ã€ â‹¯ ã€Œã‚°ãƒ«ãƒ¼ãƒ—nã€ã¨ã—ã¾ã™ã€‚

df = pd.qcut(a, 4)
df

CustomerID
14646.0    (1661.64, 280206.02]
18102.0    (1661.64, 280206.02]
17450.0    (1661.64, 280206.02]
16446.0    (1661.64, 280206.02]
14911.0    (1661.64, 280206.02]
                   ...
17956.0       (-0.001, 307.245]
16454.0       (-0.001, 307.245]
14792.0       (-0.001, 307.245]
16738.0       (-0.001, 307.245]
13256.0       (-0.001, 307.245]
Name: TotalPrice, Length: 4339, dtype: category
Categories (4, interval[float64, right]): [(-0.001, 307.245] < (307.245, 674.45] < (674.45, 1661.64] <
                                           (1661.64, 280206.02]]

In [57]:
# ãã‚Œãã‚Œã®ã‚°ãƒ«ãƒ¼ãƒ—ã®é‡‘é¡åˆè¨ˆå€¤ã‚’ç®—å‡ºã—ã¦ãã ã•ã„ï¼ˆã“ã®ã‚¢ãƒ—ãƒ­ãƒ¼ãƒã‚’ãƒ‡ã‚·ãƒ«åˆ†æã¨ã„ã„ã¾ã™ï¼‰ã€‚
b = a.groupby(df).sum()

In [58]:
# ãã‚Œãã‚Œã®ã‚°ãƒ«ãƒ¼ãƒ—ãŒå£²ä¸Šã®ä½•å‰²ã‚’å ã‚ã‚‹ã‹ã‚’æ±‚ã‚ã¦ãã ã•ã„ã€‚ãã®éš›ã€ã€Œã‚°ãƒ«ãƒ¼ãƒ—1ã€ã€œã€Œã‚°ãƒ«ãƒ¼ãƒ—nã€ã®é †ã«ä¸¦ã¹ã€Pandas.Serieså½¢å¼ã§å›ç­”ã—ã¦ãã ã•ã„ã€‚
b.map(lambda x: (float (x) / target_online_retail_data_tb['TotalPrice'].sum()))

TotalPrice
(-0.001, 307.245]       0.021784
(307.245, 674.45]       0.056538
(674.45, 1661.64]       0.130383
(1661.64, 280206.02]    0.791294
Name: TotalPrice, dtype: float64

In [61]:
import pandas as pd
import numpy as np

# working place. everything 
def homework(target_online_retail_data_tb, n):
  # è³¼è²·è€…ï¼ˆCustomerIDï¼‰ã®å„åˆè¨ˆè³¼è²·é‡‘é¡ï¼ˆTotalPriceã®åˆè¨ˆï¼‰ã‚’ç®—å‡º
  df = target_online_retail_data_tb['TotalPrice'].groupby(target_online_retail_data_tb['CustomerID']).sum()

  # ã•ã‚‰ã«åˆè¨ˆè³¼è²·é‡‘é¡ã‚’ãƒ™ãƒ¼ã‚¹ã«é™é †ã«ä¸¦ã³æ›¿ãˆã‚’ã—ã¾ã™ã€‚
  df_sort = df.sort_values(ascending=False)

  # åˆè¨ˆè³¼è²·é‡‘é¡ã®é™é †ã«ä¸¦ã‚“ã è³¼è²·è€…ã‚’ ğ‘› ç­‰åˆ†ï¼ˆ ğ‘› ã¯ãƒ‡ãƒ¼ã‚¿æ•°ã‚’è¶Šãˆãšã€åˆ†ä½æ•°ã«åŒä¸€ã®å€¤ãŒå­˜åœ¨ã—ãªã„è‡ªç„¶æ•°ã€‚è³¼è²·è€…æ•°ãŒ ğ‘› ã§å‰²ã‚Šåˆ‡ã‚Œã‚‹ã¨ã¯é™ã‚‰ãšã€
  # ã“ã®å ´åˆã®å‡¦ç†ã¯Pandas.qcutã®å‡¦ç†ã«æº–ã˜ã¾ã™ã€‚ï¼‰ã«ã‚°ãƒ«ãƒ¼ãƒ—åˆ†ã‘ã—ã¾ã™ã€‚ 
  df_qcut = pd.qcut(df_sort, n)

  # ãã®éš›ã€åˆè¨ˆè³¼è²·é‡‘é¡ãŒå¤§ãã„ã‚°ãƒ«ãƒ¼ãƒ—ã‹ã‚‰é †ã«ã€Œã‚°ãƒ«ãƒ¼ãƒ—1ã€ã€Œã‚°ãƒ«ãƒ¼ãƒ—2ã€ â‹¯ ã€Œã‚°ãƒ«ãƒ¼ãƒ—nã€ã¨ã—ã¾ã™ã€‚
  df_sort_qcut_sum = df_sort.groupby(df_qcut).sum()

  # ãã‚Œãã‚Œã®ã‚°ãƒ«ãƒ¼ãƒ—ãŒå£²ä¸Šã®ä½•å‰²ã‚’å ã‚ã‚‹ã‹ã‚’æ±‚ã‚ã¦ãã ã•ã„ã€‚ãã®éš›ã€ã€Œã‚°ãƒ«ãƒ¼ãƒ—1ã€ã€œã€Œã‚°ãƒ«ãƒ¼ãƒ—nã€ã®é †ã«ä¸¦ã¹ã€Pandas.Serieså½¢å¼ã§å›ç­”ã—ã¦ãã ã•ã„ã€‚
  my_result = df_sort_qcut_sum.map(lambda x: (float (x) / target_online_retail_data_tb['TotalPrice'].sum()))

  return my_result

In [62]:
n = int(input())
homework(target_online_retail_data_tb, n)

10

TotalPrice
(-0.001, 156.566]        0.005156
(156.566, 250.106]       0.009779
(250.106, 351.658]       0.014826
(351.658, 489.724]       0.020183
(489.724, 674.45]        0.028380
(674.45, 941.942]        0.038579
(941.942, 1353.74]       0.055334
(1353.74, 2057.914]      0.081592
(2057.914, 3646.164]     0.132421
(3646.164, 280206.02]    0.613751
Name: TotalPrice, dtype: float64

**è¬è¾**ï¼šä»¥ä¸‹ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®åˆ©ç”¨ã«é–¢ã—ã¦  
 https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx

å¼•ç”¨å…ƒï¼šDua, D. and Graff, C. (2019). UCI Machine Learning Repository [[http://archive.ics.uci.edu/ml](http://archive.ics.uci.edu/ml)]. Irvine, CA: University of California, School of Information and Computer Science.
 
Daqing Chen, Sai Liang Sain, and Kun Guo, Data mining for the online retail industry: A case study of RFM model-based customer segmentation using data mining, Journal of Database Marketing and Customer Strategy Management, Vol. 19, No. 3, pp. 197Ã¢â‚¬â€œ208, 2012 (Published online before print: 27 August 2012. doi: 10.1057/dbm.2012.17).