<a href="https://colab.research.google.com/github/nakampany/GCI/blob/main/week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework3

下記の「#common」で始まるセルの中で指定されたリンク先にある購買データをベースに以下の処理を実行し、問いに答えて課題を提出してください。（データの前処理は、以下の記載の通りに行ってください。）
    
処理内容

1. `#common`のセルで事前に前処理されたデータ`target_online_retail_data_tb`を用います。
2. 購買者（`CustomerID`）の各合計購買金額（`TotalPrice`の合計）を算出し、さらに合計購買金額をベースに降順に並び替えをします。  
3. 合計購買金額の降順に並んだ購買者を$n$等分（$n$はデータ数を越えず、分位数に同一の値が存在しない自然数。購買者数が$n$で割り切れるとは限らず、この場合の処理は`Pandas.qcut`の処理に準じます。）にグループ分けします。  その際、合計購買金額が大きいグループから順に「グループ1」「グループ2」$\cdots$「グループn」とします。
4. それぞれのグループの金額合計値を算出してください（このアプローチをデシル分析といいます）。
5. それぞれのグループが売上の何割を占めるかを求めてください。その際、「グループ1」〜「グループn」の順に並べ、`Pandas.Series`形式で回答してください。


(なお、マーケティング戦略では、このように顧客を分けることをセグメンテーションといい、上位2割に絞ってアプローチを仕掛けることをターゲティングといいます。それぞれの戦略によりますが、優良顧客に的を絞った方が投資対効果が高いことが多いため、このようなアプローチを取ることがあります。これに関連して、上位2割の顧客が売上全体の8割を占めることを「パレートの法則」と言います。)

提出するときは、以下の点に注意してください。  
>- 以下の関数`homework`の`!!WRITE ME!!`に処理を書いてください。(**「`!!WRITE ME!!`」は消して、記入してください。**)
>- 実際の提出は記述された`homework`関数全てになり、**提出はOmnicampus内の宿題の欄から今週の課題を選択後、提出内容に関数を貼り付けてから[Pythonコード提出]を押してください。**
>- 前処理は以下のコードを使ってください。  
>- 返り値が`Pandas.Series`形式になるようにしてください。  
>- 解答は、`my_result=pd.Series([0.6,0.2,0.1,0.025,0.025,0.022,0.021,0.02,0.01,0]) `のような形になります。(売上割合はグループ順にして、合計は1になるようにします。)

In [48]:
# common
import pandas as pd
import numpy as np

# init part(データの読み込みと前処理)
file_url = "http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx"
online_retail_data = pd.ExcelFile(file_url)
online_retail_data_table = online_retail_data.parse('Online Retail')

# 採点の都合上、文字列型に変換
online_retail_data_table['cancel_flg'] = online_retail_data_table.InvoiceNo.map(lambda x:str(x)[0])

# InvoiceNoの先頭が5であるものとIDがNullでないものが対象
target_online_retail_data_tb = online_retail_data_table[(online_retail_data_table.cancel_flg == '5') 
                                                        & (online_retail_data_table.CustomerID.notnull())]

target_online_retail_data_tb = target_online_retail_data_tb.assign(TotalPrice=target_online_retail_data_tb.Quantity * target_online_retail_data_tb.UnitPrice)

In [ ]:
# commonのセルで事前に前処理されたデータtarget_online_retail_data_tbを用います。
# 購買者（CustomerID）の各合計購買金額（TotalPriceの合計）を算出し、さらに合計購買金額をベースに降順に並び替えをします。
# 合計購買金額の降順に並んだ購買者を 𝑛 等分（ 𝑛 はデータ数を越えず、分位数に同一の値が存在しない自然数。購買者数が 𝑛 で割り切れるとは限らず、
# この場合の処理はPandas.qcutの処理に準じます。）にグループ分けします。 その際、合計購買金額が大きいグループから順に「グループ1」「グループ2」 ⋯ 「グループn」とします。
# それぞれのグループの金額合計値を算出してください（このアプローチをデシル分析といいます）。
# それぞれのグループが売上の何割を占めるかを求めてください。その際、「グループ1」〜「グループn」の順に並べ、Pandas.Series形式で回答してください。

In [49]:
target_online_retail_data_tb

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancel_flg,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,5,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,5,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,5,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,5,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,5,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,5,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,5,14.85

In [50]:
# 購買者（CustomerID）の各合計購買金額（TotalPriceの合計）を算出し、さらに合計購買金額をベースに降順に並び替えをします。

target_online_retail_data_tb['TotalPrice'].groupby(target_online_retail_data_tb['CustomerID']).sum()

CustomerID
12346.0    77183.60
12347.0     4310.00
12348.0     1797.24
12349.0     1757.55
12350.0      334.40
             ...
18280.0      180.60
18281.0       80.82
18282.0      178.05
18283.0     2094.88
18287.0     1837.28
Name: TotalPrice, Length: 4339, dtype: float64

In [51]:
a = target_online_retail_data_tb['TotalPrice'].groupby(target_online_retail_data_tb['CustomerID']).sum().sort_values(ascending=False)
print(a)

CustomerID
14646.0    280206.02
18102.0    259657.30
17450.0    194550.79
16446.0    168472.50
14911.0    143825.06
             ...
17956.0        12.75
16454.0         6.90
14792.0         6.20
16738.0         3.75
13256.0         0.00
Name: TotalPrice, Length: 4339, dtype: float64

In [52]:
type(a)

pandas.core.series.Series

In [53]:
# 合計購買金額の降順に並んだ購買者を 𝑛 等分（ 𝑛 はデータ数を越えず、分位数に同一の値が存在しない自然数。購買者数が 𝑛 で割り切れるとは限らず、
# この場合の処理はPandas.qcutの処理に準じます。）にグループ分けします。 その際、合計購買金額が大きいグループから順に「グループ1」「グループ2」 ⋯ 「グループn」とします。

df = pd.qcut(a, 4)
df

CustomerID
14646.0    (1661.64, 280206.02]
18102.0    (1661.64, 280206.02]
17450.0    (1661.64, 280206.02]
16446.0    (1661.64, 280206.02]
14911.0    (1661.64, 280206.02]
                   ...
17956.0       (-0.001, 307.245]
16454.0       (-0.001, 307.245]
14792.0       (-0.001, 307.245]
16738.0       (-0.001, 307.245]
13256.0       (-0.001, 307.245]
Name: TotalPrice, Length: 4339, dtype: category
Categories (4, interval[float64, right]): [(-0.001, 307.245] < (307.245, 674.45] < (674.45, 1661.64] <
                                           (1661.64, 280206.02]]

In [57]:
# それぞれのグループの金額合計値を算出してください（このアプローチをデシル分析といいます）。
b = a.groupby(df).sum()

In [58]:
# それぞれのグループが売上の何割を占めるかを求めてください。その際、「グループ1」〜「グループn」の順に並べ、Pandas.Series形式で回答してください。
b.map(lambda x: (float (x) / target_online_retail_data_tb['TotalPrice'].sum()))

TotalPrice
(-0.001, 307.245]       0.021784
(307.245, 674.45]       0.056538
(674.45, 1661.64]       0.130383
(1661.64, 280206.02]    0.791294
Name: TotalPrice, dtype: float64

In [61]:
import pandas as pd
import numpy as np

# working place. everything 
def homework(target_online_retail_data_tb, n):
  # 購買者（CustomerID）の各合計購買金額（TotalPriceの合計）を算出
  df = target_online_retail_data_tb['TotalPrice'].groupby(target_online_retail_data_tb['CustomerID']).sum()

  # さらに合計購買金額をベースに降順に並び替えをします。
  df_sort = df.sort_values(ascending=False)

  # 合計購買金額の降順に並んだ購買者を 𝑛 等分（ 𝑛 はデータ数を越えず、分位数に同一の値が存在しない自然数。購買者数が 𝑛 で割り切れるとは限らず、
  # この場合の処理はPandas.qcutの処理に準じます。）にグループ分けします。 
  df_qcut = pd.qcut(df_sort, n)

  # その際、合計購買金額が大きいグループから順に「グループ1」「グループ2」 ⋯ 「グループn」とします。
  df_sort_qcut_sum = df_sort.groupby(df_qcut).sum()

  # それぞれのグループが売上の何割を占めるかを求めてください。その際、「グループ1」〜「グループn」の順に並べ、Pandas.Series形式で回答してください。
  my_result = df_sort_qcut_sum.map(lambda x: (float (x) / target_online_retail_data_tb['TotalPrice'].sum()))

  return my_result

In [62]:
n = int(input())
homework(target_online_retail_data_tb, n)

10

TotalPrice
(-0.001, 156.566]        0.005156
(156.566, 250.106]       0.009779
(250.106, 351.658]       0.014826
(351.658, 489.724]       0.020183
(489.724, 674.45]        0.028380
(674.45, 941.942]        0.038579
(941.942, 1353.74]       0.055334
(1353.74, 2057.914]      0.081592
(2057.914, 3646.164]     0.132421
(3646.164, 280206.02]    0.613751
Name: TotalPrice, dtype: float64

**謝辞**：以下のデータセットの利用に関して  
 https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx

引用元：Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [[http://archive.ics.uci.edu/ml](http://archive.ics.uci.edu/ml)]. Irvine, CA: University of California, School of Information and Computer Science.
 
Daqing Chen, Sai Liang Sain, and Kun Guo, Data mining for the online retail industry: A case study of RFM model-based customer segmentation using data mining, Journal of Database Marketing and Customer Strategy Management, Vol. 19, No. 3, pp. 197â€“208, 2012 (Published online before print: 27 August 2012. doi: 10.1057/dbm.2012.17).